body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.flexyMcFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  border-style: solid;
}
